.list {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin: 0 auto;
    width: 66%;
    flex-wrap: wrap;
}

.item {
    background-color: #4191A5;
    padding: 10px;
    width: 30%;
    border-radius: 5px;
    border-bottom: 1px solid rgb(25, 88, 104);
    border-right: 1px solid rgb(25, 88, 104);
    margin: 10px;
}

.item:hover {
    transform: scale(1.5);
    transition: 2000ms;
    cursor: pointer;
}
